@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
*{
    padding: 0;
    margin: 0;
    box-shadow: border-box;
    color: #000000;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0fc;
}

form{
    max-width: 220px;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid #000000f0;
    gap: 10px;
    padding-right: 40px;
    
}

.place{
    width: 100%;
    padding: 10px;
  }

.btn{
    border: none;
    border-radius: 20px;
    width: 250px;
    height: 40px;
    background-color: #000000;
color: #ffffff;

}


